/* Base styles */
body {
  font-family: Arial, sans-serif;
  color: #0ff441;
  background-color:rgb(5, 68, 47);
  margin: 0;
  padding: 0;
}

h3 {
  color: #330202;
}

a {
  color: #fff;
  text-decoration: none;
  font-family: "Arial Rounded MT Bold", sans-serif;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Header styles */
header {
  background-color: rgb(5, 5, 82);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul.navigation li {
  display: inline-block;
  margin-right: 15px;
}

nav ul.navigation li a {
  color: #fff;
  font-style: italic;
}

/* Main styles */
section.hero {
  width: 100%;
  height: 500px;
  background-image: url('https://byui-cse.github.io/wdd230-course/images/l06/wdd230-org.jpg');
  background-size: cover;
  background-position: center;
}

section.call-to-action {
  background-color: #3f51b5;
  padding: 20px;
  text-align: center;
}

section.current-events {
  background-color: #303f9f;
  padding: 30px;
  text-align: center;
}

section.current-events h1,
section.current-events h2 {
  color: #fff;
}

section.spotlights {
  background-color: #1e034e;
  padding: 30px;
}

section.spotlights h2 {
  color: #fff;
  text-align: center;
}

.company-spotlights {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.company-spotlight {
  width: 30%;
  padding: 20px;
  background-color: #d4c6eb;
  text-align: center;
}

.company-spotlight h4 {
  color: #01503c;
}

.company-spotlight p {
  color:rgb(122, 4, 4);
}

.company-spotlight a.learn-more {
  color: #fff;
  background-color: #01503c;
  padding: 10px 20px;
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
}

/* Footer styles */
footer {
  background-color: #3f51b5;
  padding: 20px;
  text-align: center;
  font-family: "Arial Rounded MT Bold", sans-serif;
}


footer p {
  color: #fff;
  margin: 5px 0;
}

footer p span {
  font-weight: bold;
}

/* Dark mode styles */
#DarkModetext {
  color: #fff;
}

button {
  color: #fff;
  background-color: #2b0867;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

/* Miscellaneous styles */
.background {
  background-color:rgb(3, 62, 62);
  height: 200px;
  margin-top: -100px;
}

.label {
  font-weight: bold;
}

input[type="number"] {
  padding: 5px;
  width: 100px;
}

#calculateButton {
  color: #fff;
  background-color: #19043e;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

#lastModified {
  font-weight: bold;
}

/* Adjustments */
section.hero img {
  max-width: 200px;
  border-radius: 50%;
}

.social-icons {
  display: flex;
  justify-content: flex-end;
}

a img{
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #673ab7;
  border-radius: 50%;
  margin: 0 5px;
}

header img{
  border-radius: 50%;
  margin: 0 5px;
  display: inline-block;
  width: 45px;
  height: 45px;
}
.nav-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-icons a {
  margin-left: 15px;
  font-family: "Arial Rounded MT Bold", sans-serif;
  font-style: italic;
}

.nav-icons img {
  border-radius: 50%;
}