/* CSS Stylesheet for Form */

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  /* Header styles */
  header {
    background-color: #1e2839;
    color: #fff;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
    font-size: 24px;
  }
  
  /* Navigation styles */
  nav {
    background-color: #375a7f;
    color: #fff;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Main content styles */
  main {
    background-color: #fff;
    padding: 20px;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #1e2839;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="range"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  input[type="range"] {
    margin-bottom: 10px;
  }
  
  output {
    display: block;
    font-weight: bold;
    color: #1e2839;
  }

  label[for="membership"] {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: uppercase;
    position: relative;
  }

  .navigation {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content:right;
  }
  
  .nav-link:hover{
    color: rgb(215, 247, 74);
  }
  
  .nav-item {
    margin-left: 10px;
  }

  nav a {
    color: #26032a;
    text-decoration: none;
    padding: 5px;
    font-style: italic;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 3, 8, 0.5);
    justify-content: end;
  }

  .navigation {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .navigation li {
    display: inline-block;
    margin-right: 10px;
  }

  label[for="membership"]::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #333;
  }

  select#membership {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button[type="submit"] {
    background-color: #375a7f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  #members{
    background-color: rgb(0, 255, 238);
    font-style: italic;
    color: purple;
  }

  h2{
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 3, 8, 0.5)
  }
  
  h1{
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(186, 252, 4, 0.5)
  }
  button[type="submit"]:hover {
    background-color: #1e2839;
  }
  
  /* Footer styles */
  footer {
    background-color: #1e2839;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    margin: 0;
  }
